@use "./base.scss";

// put your custom CSS here!
/* Pull the whole layout up */
#quartz-root,
#quartz-body,
.center,
.center .page-header,
.center .page-header header {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Your banner wrapper has an inline margin-bottom: 1rem; override it */
.center .page-header header > div {
  margin-bottom: 0 !important;
}

/* If Quartz is adding top padding to the center column specifically */
.center {
  padding-top: 0 !important;
}

